[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/pydiction"]
	path = bundle/pydiction
	url = git://github.com/vim-scripts/Pydiction.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/python-folding"]
	path = bundle/python-folding
	url = git://github.com/vim-scripts/Efficient-python-folding.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "ShowMarks"]
	path = ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/lua-inspect"]
	path = bundle/lua-inspect
	url = git://github.com/davidm/lua-inspect.git
